body{
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
img#logo {
    width: 7rem;
    padding: .6rem;
}
.menu-principal{
    display: flex;
    list-style: none;
    border: 1px;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: black;
    font-weight: 500;
}
.main
    {
    background-color: #b4c2dd    ;
}
.banner
    {
    background-image: url('../images/banner.jpg');
    height: 29vw;
    object-fit: cover;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}
.tituloBanner{
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 2.9rem;
    width: 20%;
    margin-right: 2rem;
    color: white;  
    }
.sections   {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0%;
    padding: 0;
    align-items: center;
    gap: 5rem; 
}
.obras{
    padding: 2.2rem;
}
.section-item{
    border: 2px;
    width: 5rem;
    height: 5rem;
    background: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-anchor{
    font-size: 0.55rem;
    display: block;
    padding: .1rem 0.8rem 2rem 0.8rem;
    margin: 0;
    text-transform: uppercase;
}
footer
    {
    background-color: pink;
    }